@import url("https://fonts.googl eapis.com/css?family=Open+Sans&display=swap");

* {
    /* overflow: hidden; */
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("../../assets/photo/PC1.png");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
}

#menu{
    background-color: black;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

#menu a{
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
}

#menu #contatc{
    background-color: black;
    color: red;
    border-radius: 40px;
}

#name{
    padding: 0% 10%;
}

#name #text{
    margin-top: 15%;
}

#name #text h1{
    color: red;
    font-size: 300%;
} 

#name #text p{
    /*display: inline-block;
    vertical-align: top;*/
    width: 100%;
    margin-right: 15%;
    font-size: 175%;
}

#contatc{
    font-size: 20px;
    /*text-align: center;*/
    background-color: black;
    color: red;
    border-radius: 40px;
    padding: 5%;
}

#contatc-1{
    /*display: inline-block;*/
}

#contatc-1 div input{
    width: 100%;
}

#contatc-2 div input{
    width: 100%;
}

#mensagem{
    height: 70px;
}

/*
#name input{
    font-size: 22px;
    background-color: red;
    color: white;
    border-radius: 50px;
    width: 20%;
}*/

#name img{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 430px;
}

#social-media ul a{
    color: white;
} 

#social-media {
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 5% 11%;
}

#button{
    font-size: 22px;
    background-color: red;
    color: white;
    border-radius: 50px;
    width: 20%;
}
